<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <style>
        body{
            margin: 0;
        }
    </style>
</head>
<body>
    <div id = "color-buttons">
        <div class="color-circle red" onclick="changeColor('red')"></div>
        <div class="color-circle green" onclick="changeColor('green')"></div>
        <div class="color-circle blue" onclick="changeColor('blue')"></div>
        
    </div>
    <script type="module" src="main.js"></script>
</body>
</html>